version: 2.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:21-jdk  # Using OpenJDK 21 image for the build environment
    steps:
      - checkout  # Checkout the code from the GitHub repository

      - run:
          name: Set Timezone
          command: sudo timedatectl set-timezone America/Chicago  # Set the timezone

      - run:
          name: Set up Maven and Cache dependencies
          command: |
            # Cache Maven dependencies to improve build performance
            mkdir -p ~/.m2/repository
            mvn -B dependency:go-offline  # Pre-fetch dependencies to cache them

      - run:
          name: Build with Maven
          command: mvn -B package --file pom.xml -s settings.xml
          environment:
            MAVEN_USERNAME: $MAVEN_USERNAME  # Use the environment variable for Maven username
            MAVEN_PASSWORD: $MAVEN_PASSWORD  # Use the environment variable for Maven password

      # Caching Maven dependencies to speed up builds
      - restore_cache:
          keys:
            - v1-maven-dependencies-{{ checksum "pom.xml" }}  # Cache key based on pom.xml checksum
            - v1-maven-dependencies-  # Fallback cache key

      - save_cache:
          paths:
            - ~/.m2/repository  # Cache Maven dependencies
          key: v1-maven-dependencies-{{ checksum "pom.xml" }}  # Cache key based on pom.xml checksum

workflows:
  version: 2
  build:
    jobs:
      - build:
          context: BUILD_ENV
          filters:
            branches:
              only: main  # Trigger on push/pull request to the 'main' branch
