name: Dependency Submission

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      security-events: write
    steps:
      - uses: actions/checkout@v4

      # Set up JDK (21 in your case) and configure Maven settings
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github             
          settings-path: ${{ github.workspace }}
          cache: maven

      # Run the dependency submission action
      - name: Submit dependencies
        uses: advanced-security/maven-dependency-submission-action@v4
        with:
          token: ${{ secrets.PAT_GITHUB_TOKEN  }}
          directory: .               
          ignore-maven-wrapper: true  
        env:
          MAVEN_USERNAME: ${{ github.actor }}  # auto-provided by Actions
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}  # built-in token